@{
    ViewBag.Title = "Search";
}

<!-- Page Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-header">
                <div class="site-heading">
                    <h1>Get details from GitHub users</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 search-bar">
				<input type="text" class="form-control main-search-input" placeholder="Who do you want to find?"
                       ng-model="inputValue">
				<button class="btn btn-primary center-block" ng-click="getUser()" type="button">Go!</button>
            </div>    
        </div>
    </div>
</header>

@Html.Partial("UserDetails")
