@{
    ViewBag.Title = "Search";
}

<!-- Page Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-header">
                <div class="site-heading">
                    <h1>Get details from GitHub users</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 search-bar">
				<input type="text" class="form-control main-search-input" placeholder="Who do you want to find?"
                       ng-model="inputValue">
				<button class="btn btn-primary center-block" ng-click="getUser()" type="button">Go!</button>
            </div>    
        </div>
    </div>
</header>
<hr />
<!-- Main Content -->
<div class="container">
	
	<div class="row">
		<div class="col-md-4 search-bar">
			<img class="" src="../img/1.jpg" alt="">
		</div>
		<div class="col-md-8">
			<div class="clearfix"></div>
			<h2 class="section-heading">Developer name</h2>
			<p class="text-muted">Location</p>			
			<p class="lead">Top 5 repositories:</p>
			<ul class="list-group">
			  <li class="list-group-item">
				<span class="badge">14</span>
				Cras justo odio
			  </li>
			  <li class="list-group-item">
				<span class="badge">12</span>
				Cras justo odio 2
			  </li>
			</ul>
		</div>
	</div>

</div>
