@{
    ViewBag.Title = "Search";
}

<!-- Page Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-header">
                <div class="site-heading">
                    <h1>Get details from GitHub users</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 center-text">
				<input type="text" class="form-control main-search-input" placeholder="Who do you want to find?"
                       ng-model="inputValue" ng-keypress="onInputKeyPress($event)">
				<button class="btn btn-primary center-block" ng-click="getUser()" type="button">Go!</button>
            </div>
			<div>
				<p ng-hide="hideErrorMessage" class="text-danger">An error occurred while processing your request.</p>
			</div>
        </div>
		<div ng-hide="hideNoUsersFound" class="row not-found">
            <div class="col-lg-4 col-lg-offset-4">
				<p class="bg-info">No users found under that name.</p>
            </div>
		</div>
    </div>
</header>

<div class="wrap">
	@Html.Partial("UserDetails")
</div>
