
<!-- Main Content -->

<div ng-hide="hideUserDetails" class="ng-hide container">
	<hr />
    <div class="row">
        <div class="col-md-4 search-bar">
            url = {{user.AvatarUrl.replace('https://','')}}
			<img class="" src="" alt="">
        </div>
        <div class="col-md-8">
            <div class="clearfix"></div>
            <h2 class="section-heading">{{user.Name}}</h2>
            <p class="text-muted">{{user.Location}}</p>
            <p class="lead">Top 5 repositories:</p>
            <ul class="list-group" ng-repeat="repo in repos">
                <li class="list-group-item">
                    <span class="badge">{{repo.StargazersCount}}</span>
                    {{repo.FullName}}
                </li>
            </ul>
        </div>
    </div>

</div>
