body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
	height:50px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.intro-header {
  text-align: center;
  padding-bottom: 30px;
}

.main-search-input {
   margin: auto;
   margin-bottom: 20px;
}

.developer {
    text-align: center;
    margin-bottom: 50px
}

.developer img {
    margin: 0 auto;
    border: 2px solid grey;
}

.center-text {
    text-align: center;
}

img.avatar {
	max-height: 250px;
	max-width: 250px;
}
 
.wrap {
	min-height: 320px;
    height: auto !important;
}

.not-found {
	margin-top: 50px;
}